@page "/changePassword"
@using OchronaDanychShared.Models
@using Blazored.LocalStorage;
@using System.Security.Claims;
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider authenticationStateProvider
@inject IAuthService authService;
@inject PasswordStrengthService passwordStrengthService
<h3>Change Password</h3>

<p>Old password:</p>
<InputText @bind-Value="oldPassword" type="password" id="o_password" @oninput="UpdateOldPassword"></InputText>
<p>New password:</p>
<InputText @bind-Value="newPassword" type="password" id="n_password" @oninput="UpdateNewPassword"></InputText>
<p>Confirm new password:</p>
<InputText @bind-Value="confirmedNewPassword" type="password" id="c_password" @oninput="UpdateConfirmedNewPassword"></InputText>
<button class="btn btn-primary" @onclick="ChangePasswordFromApi">Change Password</button>
<p>Password status: @transferNameToDisplay</p>

@code {
	private string transferNameToDisplay = "";
	public string oldPassword { get; set; } = "";
	public string newPassword { get; set; } = "";
	public string confirmedNewPassword { get; set; } = "";
	bool success;

	private void UpdateOldPassword(ChangeEventArgs args)
	{
		oldPassword = args.Value.ToString();
	}

	private void UpdateNewPassword(ChangeEventArgs args)
	{
		newPassword = args.Value.ToString();
	}

	private void UpdateConfirmedNewPassword(ChangeEventArgs args)
	{
		confirmedNewPassword = args.Value.ToString();
	}

	public async Task ChangePasswordFromApi()
	{
		if (!passwordStrengthService.CheckPasswordStrength(confirmedNewPassword))
		{
			transferNameToDisplay = "Password not strong enough";
			return;
		}

		if (confirmedNewPassword != newPassword)
		{
			transferNameToDisplay = "New password and password to confirm are not the same";
			return;
		}
		//<SfTextBox Placeholder='Confirm New Password' Value="@confirmedNewPassword" @oninput="UpdateConfirmedNewPassword"></SfTextBox>
		var token = await LocalStorageService.GetItemAsStringAsync("authToken");
		token = token.Replace("\"", "");
		var auth = await authenticationStateProvider.GetAuthenticationStateAsync();
		var email = auth.User.Claims.Where(c => c.Type == ClaimTypes.Email).FirstOrDefault().Value;
		success = await authService.CheckPassword(token, email, oldPassword); //confirmedNewPassword
		success = await authService.ChangePassword(token, confirmedNewPassword);
		if (success)
		{
			transferNameToDisplay = "Success";
			return;
		}
		else { 
			transferNameToDisplay = "Wrong data";
			return;
		}
	}
}
