@page "/home"
@using OchronaDanychShared.Models
@using Blazored.LocalStorage;
@using System.Security.Claims;
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager NavigationManager
@inject OchronaDanychShared.Services.GetBalanceService getBalanceService

<PageTitle>Bank Bankowski S.A</PageTitle>

<h1>Czołem!</h1>

<CascadingAuthenticationState>
    <AuthorizeView>
        Twoje saldo wynosi: @balance zl
    </AuthorizeView>
</CascadingAuthenticationState>

@code {

    string balance = "Loading...";
    protected override async Task OnInitializedAsync()
    {
        var auth = await authenticationStateProvider.GetAuthenticationStateAsync();
        var email = auth.User.Claims.Where(c => c.Type == ClaimTypes.Email).FirstOrDefault().Value;
        var token = await LocalStorageService.GetItemAsStringAsync("authToken");
        token = token.Replace("\"", "");
        balance = await getBalanceService.GetBalanceFromApi(token, email);
    }
    //<button class="btn btn-primary" @onclick="GetUserDataFromApi">Show document number</button>
    public async Task GetUserDataFromApi()
    {
        
    }
}
