@page "/MainPage"
@using Blazored.LocalStorage;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Components.Authorization;
@using OchronaDanychShared.Services;
@inherits LayoutComponentBase

@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div class="page">

    <main>
        <div class="top-row px-4">
           <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <h1> Witaj!</h1>
                </Authorized>
                <NotAuthorized>
                    <h2> Do widzenia</h2>
                </NotAuthorized>
            </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
    </main>
</div>


@code {


    private async Task Logout()
    {
        await LocalStorageService.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}